<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Crystal.Reports" version="13.0.15.1840" targetFramework="net40" />
  <package id="GMap.NET.WindowsForms" version="1.7.5" targetFramework="net40" />
  <package id="Microsoft.Report.Viewer" version="11.0.0.0" targetFramework="net40" />
  <package id="Microsoft.VisualStudio.Designer.Interfaces" version="1.1.4322" targetFramework="net40" />
</packages>